

/*
root is for everything

:root {
	box-sizing: border-box;


}
*/


* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, serif; font-family: 'Open Sans', sans-serif; }
#page-wrap {
    width: 700px;
}
#page-wrap #identity {text-align: left}
textarea { border: 0; font-size: 14px; font-family: 'Open Sans', sans-serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 5px; }
#header { height: 30px; width: 100%; margin: 15px 0 0 0 ; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 2px 0px; }
#top_header { width: 250px; height: 30px; float: right;?878-0=7 margin-top: 25px;}



input {
    background-color: transparent;
    border: 0px solid;}

#items td input.cost {width:80px;}
#items td input.qty  {width:40px;}

.element > { text-decoration:none; color:inherit; }

#name  { width: 250px; height: 18px; float: right; margin-top: 15px; font-size:14px; }
#address { width: 250px; height: 18px; float: right; margin-top: 5px; font-size:14px; }
#region { width: 250px; height: 18px; float: right; margin-top: 1px; font-size:14px;  }
#phone { width: 250px; height: 18px; float: right; margin-top: 15px; font-size:14px; }
#email { width: 250px; height: 18px; float: right; margin-top: 5px; font-size:14px; }
#invoice_number { width: 100px; height: 18px; float: right; text-align:right;}

#date { width: 180px; height: 18px; float: right; text-align:right;}
.randomNumber { width: 180px; height: 18px; float: right; text-align:right;}
#notes { width: 690px; height: 20px; float:inherit; margin-top: 0px; font-size:18px; }
.info {
	font-size:11px;
	text-align:center;
	margin:0
}

#customer { overflow: hidden; margin-top: 15px; }

#logo { text-align: right; float: left; position: relative; margin-top: 0px; max-width: 310px; max-height: 148px; overflow: hidden; }



#customer-title { width:300px; font-size: 16px; float: left; }

#meta { margin-top: 1px; width: 250px; float: right; }
#meta td {  text-align: right;  }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 110px; height: 20px; text-align: right; }
#meta td input { width: 180px; height: 20px; text-align: right; }
#meta td input#date { width: 140px;  }

#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black; }
#items th { background: #eee; }
#items textarea { width: auto; height: auto; }

textarea#description{	
	width:100%;
	display:block;
	max-width:100%;
	font:13px Tahoma, cursive;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	
	
}

textarea#employee {
	width:100%;
	
	display:block;
	max-width:100%;
	font:13px Tahoma, cursive;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
}


#items tr.item-row td { border: 0; vertical-align: top; }
#items td.description { width: 300px; }
#items td.description #details {  width: 100%; }
#items td.item-name { width: 180px; }
#items td.item-name #task { width: 100%; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
textarea #payment { font-size: 16px; float: left; width: 100%; }
.info{ margin-top:0; padding-bottom:2px;}
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px 0px 10px 10px; }
#items td.total-value #paid { height: 20px; width:70px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }
#items td.blank h4 {  width:300px; height:10px; }
#items td.blank textarea {  width:auto; height:auto; }
#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { height: 20px; width: 100%; margin: 0; text-align: center;  font: 16px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 3px; border-bottom: thin solid #000; padding-bottom:10px; margin-bottom:10px; }
#terms textarea { width: 100%; height:200px; text-align:left;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover {
	background-color:#FFF;
	word-wrap: break-word;
	
}

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; font-weight: bold; padding: 01px 0px 0px 0px; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }
